/*
DISCLAIMER
 
Project:  Project2-About Me
Name: Noah Seward
Submitted: 9/7/21
 
I declare that the following source code was written by me, or provided
by the instructor for this project. I understand that copying source
code from any other source, providing source code to another student, 
or leaving my code on a public web site constitutes cheating.
I acknowledge that  If I am found in violation of this policy this may result
in a zero grade, a permanent record on file and possibly immediate failure of the class.
 
Reflection :  This project was a bit more fun than the last I think. I liked being able to 
make my website actually look good. I stuggled a bit with the table and making it the right
size but got it after some quick googling. I also struggled with trying to upload to netlify.
I think it was having problems trying to find my styles folder cause they were seperate. 
Overall, it was a good project.  
 
*/
/* This section is just setting all the styling things that I had in my html to css.
*/
table {
    table-layout: fixed;
    border: 3px solid black;
    color: deepskyblue;
    padding: 3px; 
    border-spacing: 3px;  
    width: 600px;
    height: 15px;
    border-collapse: collapse;
}
th, td {
    border: 1px solid red;
    color: black;
    padding: 3px; 
    border-spacing: 3px;  
    width: 150px;
    height: 30px;
    border-collapse: collapse;
}
th {
    background-color: rgba(35, 39, 35, 0.4);
}
td {
    text-align: center;
}
tr:nth-child(even){
    background-color: rgba(163, 171, 179, 0.4);
}
tr:nth-child(odd){
    background-color: rgba(255, 255, 253, 0.4);
}
.cs2550 {
    background-color: rgba(40, 201, 40, 0.4);
    color: black;
    text-align: left;
}
.cs2420 {
    background-color: rgba(201, 118, 40, 0.4);
    color: black;
    text-align: left;
}
.cs2300 {
    color: black;
    background-color: rgba(51, 40, 201, 0.4);
    text-align: left;
}
.math1210 {
    color: black;
    background-color: rgba(201, 40, 179, 0.4);
    text-align: left;
}
.lunch {
    background-color: rgba(40, 201, 179, 0.4);
    text-align: left;
}
.pic{
    height: 500px;
    float: right;
}
.haiku {
    text-align: center;
}

/* This is where the code for the project begins.
*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12;
    margin: 100px;
    padding: 30px;
    background: url(background-1.jpg);
    border-radius: 15px;
}
html {
    background: url(background-2.jpg);
}
h1 {
    font-size: 50;
    text-align: center;
    font-family: Impact;
    background: indigo;
    color: white;
    border-radius: 10px;
}
hr {
    background-color: black;
    height: 5px;
}
h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
